<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f8f9fa; 
        }
        .forgot-password {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 400px; 
            width: 100%; 
        }
    </style>
<body class="">
    <div class="forgot-password">
        <% if (typeof alert != "undefined") { %>
            <% if (alert.class == "success") { %>
                <div class="alert alert-success">
                    <%= alert.message %>
                </div>
            <% } else if(alert.class == "danger") { %>
                <div class="alert alert-danger">
                    <%= alert.message %>
                </div>
            <% } else{%>
                <div class="alert alert-warning">
                    <%= alert.message %>
                </div>
            <% } %>
        <% } %>
        <h4 class="text-center">Şifremi Unuttum</h4>
        <form  method="post" class="d-flex flex-column justify-content-center">
            <label for="email" class="form-label">E-posta Adresi:</label>
            <input type="email" id="email" name="email" required class="form-control">
            <button type="submit" class="btn btn-primary mt-3">Şifre Sıfırlama Linki Gönder</button>
            <a href="/login" class="pt-3 text-center"><i class="bi bi-backspace"></i> Girişi Geri Dön</a>
        </form>
    </div>
    </div>
</body>
</html>