<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/side-bar') %>
    <div class="content">
      anasayfa
    </div>
    <%- include('../partials/script') %>
    <script src="/static/js/style.js"></script>
</body>
</html>