<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %>
</head>
<body>
   
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- <<İMG eklenebilir>> -->
            </div>
        </div>
    </div>
    
    <div class="container mt-5">
        <div class="alert alert-success text-center">
            <h4 class="alert-heading">Ödeme Başarılı!</h4>
            <p>Ödemeniz başarıyla tamamlandı. Teşekkür ederiz.</p>
            <hr>
        </div>
        <div class="text-center">
            <a href="index.php" class="btn btn-primary">Ana Sayfaya Dön </a>
           
        </div>
    </div>

    <footer class="bg-light text-lg-start fixed-bottom w-100">
        <div class="container p-4">
            <div class="row">
                <div class="col-auto">
                    <img src="/static/img/edm.png" alt="Logo" class="img-fluid" style="width: 110px; ">
                </div>
                <div class="col-auto">
                    <img src="/static/img/crs.png" alt="Logo" class="img-fluid" style="width: 110px; ">
                </div>
                <div class="col-auto">
                    <img src="/static/img/sni.png" alt="Logo" class="img-fluid" style="width: 110px; ">
                </div>
                <div class="col-auto">
                    <img src="/static/img/isnet.png" alt="Logo" class="img-fluid" style="width: 110px; ">
                </div>
                <div class="col-auto">
                    <img src="/static/img/sovos.png" alt="Logo" class="img-fluid" style="width: 110px; ">
                </div>
                <div class="col-auto">
                    <img src="/static/img/gai.png" alt="Logo" class="img-fluid" style="width: 110px; ">
                </div>
                <div class="col-auto">
                    <img src="/static/img/qnb.png" alt="Logo" class="img-fluid" style="width: 110px; ">
                </div>
            </div>
        </div>
    </footer>

    <%- include('../../partials/script') %>
</body>
</html>

