<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head') %>
</head>
<body>
    <%- include('../../partials/side-bar') %>
    <div class="content">
        <div class="container mt-5 ">
            <h4 class="text-center">Şifre Güncelle</h4>
            
            <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                <div class="alert alert-danger">
                    <% errors.forEach(function(error) { %>
                        <p><%= error.msg %></p>
                    <% }); %>
                </div>
            <% } %>
            <form method="post">
                <div class="mb-3  password-group">
                    <label for="currentPassword" class="form-label">Mevcut Şifre</label>
                    <div class="input-group">
                        <input type="password" id="currentPassword" name="currentPassword" placeholder="Mevcut Şifre" class="form-control" required>
                        <span class="toggle-password input-group-text" onclick="togglePasswordVisibility()">
                            <!-- Göz simgesi SVG olarak eklendi -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="#333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                                <path d="M22 12c-2.6-4.7-7.2-8-10-8s-7.4 3.3-10 8c2.6 4.7 7.2 8 10 8s7.4-3.3 10-8zm-10 4c-2.2 0-4-1.8-4-4s1.8-4 4-4 4 1.8 4 4-1.8 4-4 4z"></path>
                                <circle cx="12" cy="12" r="3"></circle>
                            </svg>
                        </span>
                    </div>
                    
                </div>
        
                <div class="mb-3">
                    <label for="newPassword" class="form-label">Yeni Şifre</label>
                    <input type="password" id="newPassword" name="newPassword" placeholder="Yeni Şifre" class="form-control" required>
                </div>
        
                <div class="mb-3">
                    <label for="confirmNewPassword" class="form-label">Yeni Şifre (Tekrar)</label>
                    <input type="password" id="confirmNewPassword" name="confirmNewPassword" placeholder="Yeni Şifre (Tekrar)" class="form-control" required>
                </div>
    
                <button type="submit" class="btn btn-primary">Güncelle</button>
                <% if (isAdmin) { %>
                    <a href="/admin/index" class="btn btn-warning">Vazgeç</a>
                <% } %>
                <% if (isDealer) { %>
                <a href="/user/profile" class="btn btn-warning">Vazgeç</a>
                <% } %>
            </form>
        </div>
    </div>
  
    <%- include('../../partials/script') %>
    <script src="/static/js/style.js"></script>
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById('currentPassword');
            var toggleIcon = document.querySelector('.toggle-password svg');
            
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.setAttribute('stroke', '#38b6e4');
            } else {
                passwordInput.type = "password";
                toggleIcon.setAttribute('stroke', '#333');
            }
        }
        
    </script>
</body>
</html>
